<h1>Minesweeper Test</h1>
<div 
    class="menu-container"
    *ngIf="!activeGame; else gameContainer">
    <form>
        <input 
            type="number" 
            name="columns"
            [(ngModel)]="gameOptions.columns">
        <input 
            type="number" 
            name="rows"
            [(ngModel)]="gameOptions.rows">
        <input 
            type="number"  
            name="mines"
            [(ngModel)]="gameOptions.mines">
        <button (click)="startGame()">Start Game</button>
    </form>

    <div *ngIf="archivedGames && archivedGames.length">
        <h3>My game history</h3>
    
        <ul>
            <li *ngFor="let game of archivedGames;">
                {{ game.date | date }} - {{ game.status }}. Time spent: {{ game.timeSpent }} seconds.
                <button 
                    (click)="activeGame = game"
                    *ngIf="game.status === 'IN_PROGRESS'">Resume
                </button>
            </li>
        </ul>
    </div>
</div>

<ng-template #gameContainer>
    {{ timer }}
    <button (click)="activeGame = null;">Start new game</button>
    <minesweeper-table 
        [game]="activeGame"
        (onGameEnd)="endGame()">
    </minesweeper-table>

    <h4 *ngIf="gameStatusNotification">{{ gameStatusNotification }}</h4>
</ng-template>