<div class="app-container">
    <h1>Minesweeper Test</h1>
    <div 
        class="game-setup-container"
        *ngIf="!activeGame; else gameContainer">
        <form 
            [formGroup]="gameSetupForm"
            (ngSubmit)="onSetupSubmit()">
            <div class="game-setup-item">
                <label for="columns">
                    Qty. columns
                    <input 
                        id="columns"
                        type="number" 
                        formControlName="columns"
                        [ngClass]="{ 'is-invalid': submitted && f.columns.errors }">
                    <span 
                        class="form-error"
                        *ngIf="f.columns.errors && submitted">
                        <span *ngIf="f.columns.errors.required">Columns are required!</span>
                        <span *ngIf="f.columns.errors.min">You must set at least 5 columns!</span>
                        <span *ngIf="f.columns.errors.max">You must set up to 20 columns!</span>
                    </span>
                </label>
            </div>
            <div class="game-setup-item">
                <label for="rows">
                    Qty. rows
                    <input 
                        id="rows"
                        type="number" 
                        formControlName="rows"
                        [ngClass]="{ 'is-invalid': submitted && f.rows.errors }">
                    <span 
                        class="form-error"
                        *ngIf="f.rows.errors && submitted">
                        <span *ngIf="f.rows.errors.required">Rows are required!</span>
                        <span *ngIf="f.rows.errors.min">You must set at least 5 rows!</span>
                        <span *ngIf="f.rows.errors.max">You must set up to 20 rows!</span>
                    </span>
                </label>
            </div>
            <div class="game-setup-item">
                <label for="mines">
                    Qty. mines
                    <input 
                        id="mines"
                        type="number"  
                        formControlName="mines"
                        [ngClass]="{ 'is-invalid': submitted && f.mines.errors }">
                    <span 
                        class="form-error"
                        *ngIf="f.mines.errors && submitted">
                        <span *ngIf="f.mines.errors.required">Mines are required!</span>
                        <span *ngIf="f.mines.errors.min">You must set at least 1 mine!</span>
                    </span>
                </label>
            </div>

            <div style="clear: both;"></div>
            
            <label for="useDefaultValues">
                <input 
                    id="useDefaultValues"
                    type="checkbox"
                    (change)="setGameConfig()"           
                    formControlName="useDefaultValues"> Use default values
            </label>
            
            <button class="game-setup-start-game">Start Game</button>
        </form>
    
        <div *ngIf="archivedGames && archivedGames.length">
            <h3>My game history</h3>
            <ul>
                <li *ngFor="let game of archivedGames;">
                    {{ game.date | date }} - {{ game.status }}. Time spent: {{ game.timeSpent }} seconds.
                    <button 
                        (click)="resumeGame(game)"
                        *ngIf="game.status === 'IN PROGRESS'">Resume
                    </button>
                </li>
            </ul>
        </div>
    </div>
    
    <ng-template #gameContainer>
        <div class="app-game-container">
            <div class="app-game-menu">
                <h4>You've been playing for {{ timer }} seconds..</h4>
                <button (click)="startNewGame()">Set up a new game</button>
            </div>
            
            <minesweeper-table 
                [game]="activeGame"
                (onGameEnd)="endGame()">
            </minesweeper-table>
        
            <h4 *ngIf="gameStatusNotification">{{ gameStatusNotification }}</h4>
        </div>
    </ng-template>
</div>
