body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;

    button {
        background-color: #0087ff;
        color: #ffffff;
        cursor: pointer;
        padding: 10px;

        &:hover { background-color: #94bee4; }
    }
}